<div class="hero">
  <h1 class="hero_title">Ember-cli-sparkline</h1>
  <p class="hero_caption">A lightweight sparkline component for Ember applications. <a href="https://circleci.com/gh/lukesargeant/ember-cli-sparkline"><img src="https://circleci.com/gh/lukesargeant/ember-cli-sparkline.svg?style=svg"></a></p>
  <div class="hero_buttons">
    <a class="hero_button" href="https://github.com/lukesargeant/ember-cli-sparkline">Github Source</a>
    <a class="hero_button" href="https://www.npmjs.com/package/ember-cli-sparkline">NPM Package</a>
  </div>
</div>

<article class="wrap">

  <p class="lead">"A sparkline is a very small line chart, drawn without axes or coordinates. It presents the general shape of the variation (typically over time) in a simple and highly condensed way."</p>

  <p>Ember-cli-sparkline is a lightweight sparkline component for Ember applications that renders simple charts in SVG. Perfect if you want to render simple charts without the overhead of loading a charting library or d3. Great for rendering lots of live data streams. Supports line and area sparklines.</p>

  <h2><a id="examples" href="#examples" aria-hidden="true">Examples</a></h2>

  <table>
    <thead>
      <tr>
        {{#each mocks as |mock|}}
          <th>
            {{mock.name}}
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each mocks as |mock|}}
          <td>
            {{ember-cli-sparkline points=mock.data class="mock-list_spark-line"}}
          </td>
        {{/each}}
      </tr>
    </tbody>
  </table>

  <h2><a id="quick-start" href="#quick-start" aria-hidden="true">Quick start</a></h2>

  <p>Run <code>ember install ember-cli-sparkline</code> from the root folder of your ember project to install this addon.</p>

  <p>The sparkline component is available for use in your templates: </p>

  <p><code>\{{ember-cli-sparkline points=data}}</code></p>

  <p>The only required attribute is 'points'. This should be an array of objects with an 'x' and 'y' property. 'x' and 'y' should be numbers.</p>

  <p>Example points data:</p>

  <div class="highlight highlight-javascript"><pre>data<span class="pl-k">:</span> Ember.A([
    {
      x<span class="pl-k">:</span> <span class="pl-c1">1</span>,
      y<span class="pl-k">:</span> <span class="pl-c1">5</span>
    },
    {
      x<span class="pl-k">:</span> <span class="pl-c1">2</span>,
      y<span class="pl-k">:</span> <span class="pl-c1">10</span>
    },
    {
      x<span class="pl-k">:</span> <span class="pl-c1">3</span>,
      y<span class="pl-k">:</span> <span class="pl-k">-</span><span class="pl-c1">20</span>
    }
  ])</pre></div>

  <p><strong>Note:</strong> The sparkline must be given a width and height. The dummy app applies width and height styles targetting the .ember-cli-sparkline CSS class that is present on the root element of the sparkline component.</p>

  <h2><a id="styling" href="#styling" aria-hidden="true">Styling</a></h2>

  <p>Ember-cli-sparkline adds no styles/CSS to your project by default. The following hooks are available for styling with CSS:</p>

  <h3><a id="user-content-ember-cli-sparkline" class="anchor" href="#ember-cli-sparkline" aria-hidden="true"><span class="octicon octicon-link"></span></a>.ember-cli-sparkline</h3>

  <p>This is an SVG element. If you want the sparkline to fill its container, you could give the container position: relative; and then apply the following rule:</p>

  <div class="highlight highlight-css"><pre><span class="pl-e">.ember-cli-sparkline</span> {
    <span class="pl-c1"><span class="pl-c1">position</span></span>: <span class="pl-c1">absolute</span>;
    <span class="pl-c1"><span class="pl-c1">top</span></span>: <span class="pl-c1">0</span>;
    <span class="pl-c1"><span class="pl-c1">right</span></span>: <span class="pl-c1">0</span>;
    <span class="pl-c1"><span class="pl-c1">bottom</span></span>: <span class="pl-c1">0</span>;
    <span class="pl-c1"><span class="pl-c1">left</span></span>: <span class="pl-c1">0</span>;
  }</pre></div>

  <h3><a id="user-content-ember-cli-sparkline_line" class="anchor" href="#ember-cli-sparkline_line" aria-hidden="true"><span class="octicon octicon-link"></span></a>.ember-cli-sparkline_line</h3>

  <p>This is an SVG path element that represents the line drawn by the data points. The following attributes are useful for styling the sparkline's line element:</p>

  <div class="highlight highlight-css"><pre><span class="pl-e">.ember-cli-sparkline_line</span> {
    <span class="pl-c1">stroke</span>: <span class="pl-c1">red</span>;
    <span class="pl-c1">stroke-<span class="pl-c1">width</span></span>: <span class="pl-c1">1<span class="pl-k">px</span></span>;
    <span class="pl-c1">stroke-linejoin</span>: round;
  }</pre></div>

  <h3><a id="user-content-ember-cli-sparkline_area" class="anchor" href="#ember-cli-sparkline_area" aria-hidden="true"><span class="octicon octicon-link"></span></a>.ember-cli-sparkline_area</h3>

  <p>This is an SVG path element representing the area beneath the data points. The following attributes are useful for styling the sparline's area element:</p>

  <div class="highlight highlight-css"><pre><span class="pl-e">.ember-cli-sparkline_area</span> {
    <span class="pl-c1"><span class="pl-c1">fill</span></span>: <span class="pl-c1">#444</span>;
  }</pre></div>

  <h2><a id="api" href="#api" aria-hidden="true">API</a></h2>

  <h3><a id="user-content-points-object-null" class="anchor" href="#points-object-null" aria-hidden="true"><span class="octicon octicon-link"></span></a>points (Object[]: null)</h3>

  <p>This should be an array of objects with an 'x' and 'y' property. 'x' and 'y' should be numbers.</p>

  <h3><a id="user-content-xkey-string-x" class="anchor" href="#xkey-string-x" aria-hidden="true"><span class="octicon octicon-link"></span></a>xKey (String: 'x')</h3>

  <p>The key to the x property in each data point.</p>

  <h3><a id="user-content-ykey-string-x" class="anchor" href="#ykey-string-x" aria-hidden="true"><span class="octicon octicon-link"></span></a>yKey (String: 'x')</h3>

  <p>The key to the y property in each data point.</p>

  <h3><a id="user-content-showline-boolean-true" class="anchor" href="#showline-boolean-true" aria-hidden="true"><span class="octicon octicon-link"></span></a>showLine (Boolean: true)</h3>

  <p>Whether to render a path representing the line along the data points.</p>

  <h3><a id="user-content-showarea-boolean-true" class="anchor" href="#showarea-boolean-true" aria-hidden="true"><span class="octicon octicon-link"></span></a>showArea (Boolean: true)</h3>

  <p>Whether to render a path representing the area beneath the data points.</p>

</article>

<footer class="footer wrap">
  <p>An Ember Addon by <a href="https://github.com/lukesargeant">Luke Sargeant</a></p>
  <p>For more information on using ember-cli, visit <a href="http://www.ember-cli.com/">http://www.ember-cli.com/</a>.</p>
</footer>